<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>信息管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="scripts/jquery/jquery-1.7.1.js"></script>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="scripts/jquery/jquery-1.4.4.min.js"></script>
<script src="scripts/My97DatePicker/WdatePicker.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="scripts/artDialog/artDialog.js?skin=default"></script>

<script type="text/javascript" th:inline="javascript" >
	// var url=location.search
	// var theRequest = new Object();
	// if ( url.indexOf( "?" ) != -1 ) {
	// 	var str = url.substr( 1 ); //substr()方法返回从参数值开始到结束的字符串；
	// 	var strs = str.split( "&" );
	// 	for ( var i = 0; i < strs.length; i++ ) {
	// 		theRequest[ strs[ i ].split( "=" )[ 0 ] ] = ( strs[ i ].split( "=" )[ 1 ] );
	// 	}
	// 	console.log( theRequest ); //此时的theRequest就是我们需要的参数
	$(function () {
		// var id=[[${session.id}]]
		// // var id="${session.userName}"
		// // var id= "<%=session.getAttribute('id')%>"
		//
		// alert(id)
		// URL:"edit?type=admin&id="+id;
		// var obj=[[${session.obj}]]
		// alert(obj)

		// if([[${id}]]!=null){
		//
		// }
	})
	$.fn.serializeObject = function() {
		var o = {};
		var a = this.serializeArray();
		$.each(a, function () {
			if (o[this.name]) {
				if (!o[this.name].push) {
					o[this.name] = [o[this.name]];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	}
	$(document).ready(function() {
		/*
		 * 提交
		 */

		
		/*
		 * 取消
		 */
		$("#cancelbutton").click(function() {
			/**  关闭弹出iframe  **/
			window.parent.$.fancybox.close();
		});
		
		var result = 'null';
		if(result =='success'){
			/**  关闭弹出iframe  **/
			window.parent.$.fancybox.close();
		}
	});

	function getdata() {
		$.ajax({
			type:"GET",
			url:""
		})
	}
	
	/** 检测房源房号是否存在  **/
	function checkFyFh(){
		// 分别获取小区编号、栋号、层号、房号
		var fyID = $('#fyID').val();
		var fyXqCode = $("#fyXq").val();
		var fyDh = $("#fyDh").val();
		var fyCh = $("#fyCh").val();	
		var fyFh = $("#fyFh").val();
		if(fyXqCode!="" && fyDh!="" && fyCh!="" && fyFh!=""){
			// 给房屋坐落地址赋值
			$("#fyZldz").val($('#fyDh option:selected').text() + fyCh + "-" + fyFh);
			// 异步判断该房室是否存在，如果已存在，给用户已提示哦
			$.ajax({
				type:"POST",
				url:"checkFyFhIsExists.action",
				data:{"fangyuanEntity.fyID":fyID,"fangyuanEntity.fyXqCode":fyXqCode, "fangyuanEntity.fyDhCode":fyDh, "fangyuanEntity.fyCh":fyCh, "fangyuanEntity.fyFh":fyFh},
				dataType : "text",
				success:function(data){
// 					alert(data);
					// 如果返回数据不为空，更改“房源信息”
					if(data=="1"){
						 art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'该房室在系统中已经存在哦，\n请维护其他房室数据', ok:true,});
						 $("#fyFh").css("background", "#EEE");
						 $("#fyFh").focus();
						 return false;
					}
				}
			});
		}
	}
	
	/** 检测房源房号是否存在并提交form  **/
	function checkFyFhSubmit(){
		// 分别获取小区编号、栋号、层号、房号
		var fyID = $('#fyID').val();
		var fyXqCode = $("#fyXq").val();
		var fyDh = $("#fyDh").val();
		var fyCh = $("#fyCh").val();	
		var fyFh = $("#fyFh").val();
		if(fyXqCode!="" && fyDh!="" && fyCh!="" && fyFh!=""){
			// 给房屋坐落地址赋值
			$("#fyZldz").val($('#fyDh option:selected').text()  + fyCh + "-" + fyFh);
			// 异步判断该房室是否存在，如果已存在，给用户已提示哦
			$.ajax({
				type:"POST",
				url:"checkFyFhIsExists.action",
				data:{"fangyuanEntity.fyID":fyID,"fangyuanEntity.fyXqCode":fyXqCode, "fangyuanEntity.fyDhCode":fyDh, "fangyuanEntity.fyCh":fyCh, "fangyuanEntity.fyFh":fyFh},
				dataType : "text",
				success:function(data){
// 					alert(data);
					// 如果返回数据不为空，更改“房源信息”
					if(data=="1"){
						 art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'该房室在系统中已经存在哦，\n请维护其他房室数据', ok:true,});
						 $("#fyFh").css("background", "#EEE");
						 $("#fyFh").focus();
						 return false;
					}else{
						$("#submitForm").attr("action", "/xngzf/archives/saveOrUpdateFangyuan.action").submit();
					}
				}
			});
		}
		return true;
	}
	
	/** 表单验证  **/
	function validateForm(){
		
		if($("#fyFh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写权限', ok:true,});
			return false;
		}
		if($("#fyZongMj").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写密码', ok:true,});
			return false;
		}
		if($("#fyJizuMj").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写用户名', ok:true,});
			return false;
		}
		if($("#fyZldz").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写ID', ok:true,});
			return false;
		}
		return true;
	}
</script>
</head>
<body>
<form id="submitForm" name="submitForm" action="/xngzf/archives/initFangyuan.action" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">管理员信息编辑</span>
			<div id="page_close">
				<a href="javascript:parent.$.fancybox.close();">
					<img src="images/common/page_close.png" width="20" height="20" style="vertical-align: text-top;"/>
				</a>
			</div>
		</div>
		<div class="ui_content">
			<table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
<!--		<tr>-->
<!--					<td class="ui_text_rt">ID</td>-->
<!--					<td class="ui_text_lt">-->
<!--						<input type="text" id="fyZldz" name="fangyuanEntity.fyZldz" value="" class="ui_input_txt02"/>-->
<!--					</td>-->
<!--				</tr>-->
				<tr>
					<td class="ui_text_rt">用户名</td>
					<td class="ui_text_lt">
						<div th:if="${obj}!=null"><input type="text" id="fyJizuMj" th:value="${obj.username}" name="username" value="" class="ui_input_txt02"/></div>
						<div th:if="${obj}==null"><input type="text" id="a"  name="username" value="" class="ui_input_txt02"/></div>
					</td>
				</tr>
				<tr>
					<td class="ui_text_rt">密码</td>
					<td class="ui_text_lt">
						<div th:if="${obj}!=null"><input type="text" id="fyZongMj" th:value="${obj.password}" name="password" value="" class="ui_input_txt02"/></div>
						<div th:if="${obj}==null"><input type="text" id="fj"  name="password" value="" class="ui_input_txt02"/></div>
					</td>
				</tr>
				<tr>
					<td  class="ui_text_rt">权限</td>
					<td class="ui_text_lt">
						<div th:if="${obj}!=null"><input type="text" id="fyFh" th:value="${obj.rights}" name="rights" value="" class="ui_input_txt02"/></div>
						<div th:if="${obj}==null"><input type="text" id="f" name="rights" value="" class="ui_input_txt02"/></div>
					</td>
				</tr>
				
				
				<tr>s
					<td>&nbsp;</td>
					<td class="ui_text_lt">
<!--                        <input id="submitbutton" th:onclick="abc([[${obj.id.value}]])" type="button" value="sub" class="ui_input_btn01"/>-->
						&nbsp;<input id="submitbutton" th:onclick="abc([[${obj.id.value}]])" type="button" value="提交" class="ui_input_btn01"/>
						&nbsp;<input id="cancelbutton" type="button" onclick="canc()"  value="取消" class="ui_input_btn01"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
<script th:inline="javascript">
    function abc(id){
        if([[${obj}]]==null){
            if(validateForm()){
                $.ajax({
                    url:"Admin/addadmin",
                    type:"POST",
                    dataType: "json",
                    data:JSON.stringify($('form').serializeObject()),
                    // contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                    contentType: "application/json; charset=utf-8",
                    success:function(){
                        alert("成功");

                    }

                })
            }}
        else {
            if(validateForm()){
                $.ajax({
                    url:"Admin/updateAdminbyid?id="+id,
                    type:"PUT",
                    dataType: "json",
                    data:JSON.stringify($('form').serializeObject()),
                    // contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                    contentType: "application/json; charset=utf-8",
                    success:function(){
                        alert("成功");
                        window.history.back(-1);

                    }

                })
            }
        }
    };
</script>

<script>
    function canc() {
        window.history.back(-1);
    }
</script>
</html>