<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="And Host - Domain Hosting HTML Template">
    <meta name="keywords" content="hosting, domain, ssl, Hosting, Domain, business, .com, .net, .org, corporate">
    <meta name="author" content="webguru071">

    <meta property="og:type" content="Web Template">
    <meta property="og:title" content="And Host - Domain Hosting HTML Template">
    <meta property="og:description" content="And Host - Domain Hosting HTML Template">
    <meta property="og:image" content="login/assets/img/preview.jpg">

    <meta name="twitter:card" content="And Host - Domain Hosting HTML Template">
    <meta name="twitter:title" content="And Host - Domain Hosting HTML Template">
    <meta name="twitter:description" content="And Host - Domain Hosting HTML Template">
    <meta name="twitter:image" content="login/assets/img/preview.jpg">

    <meta name="msapplication-TileImage" content="login/assets/img/preview.jpg">

    <meta name="msapplication-TileColor" content="#4da2ef">
    <meta name="theme-color" content="#0a8aff">

    <title>Registration</title>

    <!--=======================================
      All Css Style link
    ===========================================-->

    <!-- Custom styles for this template -->
    <link href="login/assets/css/style.css" rel="stylesheet">

    <!-- FAVICONS -->
    <link rel="icon" href="login/assets/img/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="login/assets/img/favicon-16x16.png" type="image/x-icon">
    <link rel="shortcut icon" href="login/assets/img/favicon-16x16.png">

    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="login/assets/img/apple-icon-72x72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="login/assets/img/apple-icon-114x114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="login/assets/img/apple-icon-144x144.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="login/assets/img/favicon-16x16.png" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="home-1">

<!-- Pre Loader Area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- Pre Loader Area End -->

<!--Main Menu/ Mobile Menu Section-->
<section class="menu-section-area">

    <!-- Top Menu -->
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="left-top-menu">
                        <li><a href="contact.html"><i class="far fa-comment"></i>Live Chat</a></li>
                        <li><a href="tel:880123564"><i class="fas fa-phone-alt"></i>+88 01 23 564</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="right-top-menu text-right">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="registration.html">Register</a></li>
                        <li><a href="contact.html">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Menu -->


    <!--Main Menu/ Mobile Menu Section-->

    <!-- Header Start -->
    <header class="page-banner-area position-relative" id="home">
        <div class="section-overlay d-flex">
            <div class="container">
                <div class="header-caption">
                    <h1 class="header-caption-heading text-capitalize">Registration Page</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item text-capitalize"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active text-capitalize" aria-current="page"><i class="fas fa-angle-right"></i>Registration</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Effect Start-->
        <img class="bubble slow" src="login/assets/img/all-effect-img/Top_bubble.svg" id="pink-side-bubble-1" alt="b">
        <img class="bubble" src="login/assets/img/all-effect-img/Bottom_Bubble.svg" id="pink-side-bubble-2" alt="b">
        <img class="bubble slow" src="login/assets/img/all-effect-img/Bog-Blob.svg" id="blue-side-bubble-1" alt="b">
        <!-- Effect End-->

        <!-- Wave Effect Start-->
        <div class="footer-wave"></div>
        <!-- Wave Effect End-->

    </header>
    <!-- Header End -->

    <!-- Login Page Area Start -->
    <section class="login-page-area">

        <div class="bubble-box">
            <div class="bubbles-1"></div>
            <div class="bubbles-2"></div>
            <div class="bubbles-3"></div>
            <div class="bubbles-4"></div>
            <div class="bubbles-5"></div>
            <div class="bubbles-7"></div>
        </div>

        <div class="container">
            <div class="row login-wrapper">
                <!-- Login Area Start-->
                <div class="col-6col-12 col-sm-12 col-md-6 login-form-1">
                    <h3>Findpassword Here</h3>
                    <form id="contact-form" method="post">

                        <span class="input input--nao">
                    <input class="input__field input__field--nao" name="email" type="email" id="email" placeholder="Email" required onblur="getcode()"/>
                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>


                </span>

                        <span class="input input--nao">
                    <input class="input__field input__field--nao" type="text" id="emailcheck" placeholder="验证码" required onblur="check()"/>
                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>


                </span>

                        <!-- <span><div class="col-md-4"><button>获取验证码</button></div></span> -->

                        <span class="input input--nao">
                    <input class="input__field input__field--nao" name="password" type="password" id="password" placeholder="Password" required />
                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>
                </span>
                        <span class="input input--nao">
                    <input class="input__field input__field--nao" type="text" name="phone" id="confirmpassword" placeholder="conform password" required onblur="checkcomm()"/>
                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>


                    </span>

                        <!--message-area-->
                        <div class="d-flex message-button-wrap">
                            <div class="subm-btn theme-button">
                                <!--                            <input type="submit" class="btn contact-btn" value="Submit">-->
                                <button class="btn contact-btn" onclick="sub()">submit</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="login-yet">Already Registered? <a href="login">Login</a></p>
                        </div>
                    </form>
                </div>
                <!-- Login Area End-->
            </div>
        </div>
    </section>
    <!-- Login Page Area End -->


    <!--Go To Top Arrow area End-->

    <!--=======================================
        All Jquery Script link
    ===========================================-->

    <!-- Bootstrap core JavaScript -->
    <script src="login/assets/vendor/jquery/jquery.min.js"></script>
    <script src="login/assets/vendor/jquery/popper.min.js"></script>
    <script src="login/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- ==== Plugin JavaScript ==== -->

    <!-- jQuery owl carousel -->
    <script src="login/assets/js/owl.carousel.min.js"></script>

    <script src="login/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!--Input Field Script-->
    <script src="login/assets/js/input-field.js"></script>

    <!--Type Js Script-->
    <script src="login/assets/js/typed.min.js"></script>

    <!--Paroller Script-->
    <script src="login/assets/js/jquery.paroller.min.js"></script>

    <!--WOW JS Script-->
    <script src="login/assets/js/wow.min.js"></script>

    <!--AOS JS Script-->
    <script src="login/assets/js/aos.js"></script>

    <!--WayPoints JS Script-->
    <script src="login/assets/js/waypoints.min.js"></script>

    <!--Counter Up JS Script-->
    <script src="login/assets/js/jquery.counterup.min.js"></script>

    <!--VenoBox Script-->
    <script src="login/assets/js/venobox.min.js"></script>

    <!--Custom Select Script-->
    <script src="login/assets/js/custom-select.js"></script>

    <!--Mean Menu/Mobile Menu Script-->
    <script src="login/assets/js/jquery.meanmenu.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="login/assets/js/custom.js"></script>

    <script>
        var typed = new Typed('#typed', {
            stringsElement: '#typed-strings',
            typeSpeed: 100,
            backSpeed: 100,
            loop: true,
            smartBackspace: true,
        });
    </script>
    <script>
        var code="";
        function getcode(){
            var temp = document.getElementById("email");
            var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if(!myreg.test(temp.value))
            {
                alert('提示\n\n请输入有效的E_mail！');
                myreg.focus();
                return false;
            }
            $.ajax({
                url: "getcode?userto="+temp.value,
                type: "get",
                success: function(result){
                    // alert("验证码已发送，请注意查收");
                    code=result;

                }
            })

        }
        function check() {
            var temp = document.getElementById("emailcheck").value;
            if (temp==code && code!=""){
                // alert("success")
            }
            else {
                // alert("fail")
            }
        }
        function checkcom(){
            var temp = document.getElementById("conformpassword").value;
            var temp2= document.getElementById("password").value;
            if (temp==temp2){
                alert("两次密码不一样")
            }
            else {
                // alert("fail")
            }

        }
        function sub(){
            $.ajax({
                url:"findpassword",
                type:"POST",
                dataType: "json",
                data:JSON.stringify($('form').serializeObject()),
                // contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                contentType: "application/json; charset=utf-8",
                success:function(){
                    alert("成功");
                }
            });
        }
        // $(':submit').on('click',function(){
        //     alert("aaa")
        //     $.ajax({
        //         url:"register",
        //         type:"POST",
        //         dataType: "json",
        //         data:JSON.stringify($('form').serializeObject()),
        //         // contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
        //         contentType: "application/json; charset=utf-8",
        //         success:function(){
        //             alert("成功");
        //         }
        //     });
        // });
    </script>

</body>

</html>